.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #78b1f7;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px; 
  }
  
  .bus-image {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
  }
  
  .about-text {
    max-width: 50%;
  }
  
  .about-text #whoweare {
    font-size: 2em;
    margin-bottom: 100px;
  }
  
  #paragraph1, #paragraph2  {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  #whoweare {
    text-align: right;
  }