.info-container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: rtl;
}

.info-title {
    flex: 1;
    text-align: right;
}

.info-content {
    margin-left: 70px;
    margin-top: 120px;
    flex: 2;
    text-align: left;
    background:  #ead6af;
    width: 40px;
    height: 600px;
}

#info{
    margin-right: 100px;
    font-family: "GE SS Two", Sans-serif;
    font-size: 75px;
    font-weight: 500;
    color: blue;
}

#aboutus{
    margin-right: 150px;
    font-family: "GE SS Two", Sans-serif;
    font-size: 75px;
    font-weight: 500;  
    color: blue;  
}
.lead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: rtl;
}
