.evaluation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #80b7ef;
    color: #0c0c0c;
    padding: 20px;
    border-radius: 10px;
    margin: 20px; 
  }
  
  .evaluation-form h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .evaluation-form label {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .evaluation-form input,
  .evaluation-form textarea,
  .evaluation-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
  }
  
  .evaluation-form button {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .evaluation-form button:hover {
    background-color: #0055a5;
  }
  
