.Footer {
  background-color: #ffffff;
  position: relative;
  height: 110px;
  width:100%;
}

.Fcontainer {
  background-color: #80b7ef;
  width: 98.6%;
  padding: 10px;
  color: #000;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.Fcontainer p {
  font-size: 18px;
  margin: 2px;
}

.Fcontainer img {
  margin-right: 15px;
  height: 30px;
  width: 30px;
}
.social-links img {
  vertical-align: middle; 
}