.Log {
    padding: 80px;
    background-color: #ffffff;
    border-radius: 4px;
    margin-top: 50px;
    


}

.F{
    background-color: #e3ebf3; 
    padding: 30px; 
    border-radius: 10px; 
    text-align: center;
    width: 400px; 
    margin: 0 auto; 
}


.L-Logo {
    width: 80px; 
    margin-bottom: 20px;
}

.group {
    margin-bottom: 20px;
}

.control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.Button  {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Button:hover {
    background-color: #ead6af;
}



.register{
    font-size: 14px;
    color: #6c757d;
    cursor: pointer;
}

.register:hover {
    text-decoration: underline;
}
  input[type="email"] {
    width: 300px; 
    padding: 10px; 
    margin: 8px; 
    display: inline-block;
    border: 1px ;
    border-radius: 5px;
    box-sizing: border-box;
  }

